button {
	border-radius: 8px;
	height: 50px;
	width: 150px;
}

div.animatedContainer {
	cursor: pointer;
	height: 128px;
	width: 256px;
	border: 1px solid black;
}

table, td{
	border: 1px solid maroon;
	position: relative;
}

td {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.sizeButtons #three {
	color: blue;
}

.sizeButtons #four {
	color: orange;
}

.sizeButtons #five {
	color: red;
}

.sizeButtons #six {
	color: black;
}

.sizeButtons div{
	float: left;
	margin: 30px;
}

.speedButtons div {
	float: left;
	margin: 10px;
}

div.overlay {
	height: 128px;
	width: 128px;
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	cursor: pointer;
}


div.border {
	border: 2px solid;
}

.overlay:hover img.toggleButton{
	opacity: 0.5;
}

.overlay:hover div.insideText{
	opacity: 1;
}

.sizeButtons img {
	opacity: 1;
	transition: .5s ease;
	float: left;
	height: 128px;
	width: 128px;
	background-repeat: no-repeat;
	position: relative;
}

div.insideText {
	opacity: 0;
	transition: .5s ease;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:128px;
	margin: auto;
	text-align: center;
	height: 128px;
	width: 128px;
	position: absolute;
}

#resumeButton {
	border: 2px solid black;
}

#startButton {
	border: 2px solid #4CAF50; /* Green */
}