button {
	border-radius: 8px;
}

.sizeButtons button {
	height: 128px;
	width: 128px;
	cursor: pointer;
	border: 2px solid;
}

div.sizeButtons #three {
	background: url("../res/3x3grid.png"); 
	background-size: 128px 128px;
	background-repeat: no-repeat;
}

#resumeButton {
	border: 2px solid black;
}

#startButton {
	border: 2px solid #4CAF50; /* Green */
}