/*merge all of this into similar elements some time*/

body {
	background-image: url("../res/bakground.jpg");
	background-repeat: no-repeat;
}

#startButton {
  background: #2196f3;
  background-image: -webkit-linear-gradient(top, #2196f3, #0d47a1);
  background-image: -moz-linear-gradient(top, #2196f3, #0d47a1);
  background-image: linear-gradient(to bottom, #2196f3, #0d47a1);
  border-radius: 28px;
  text-shadow: 2px 1px 5px #050105;
  font-family: Georgia;
  color: #f0ffe8;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  border: solid #2962ff 3px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

#help {
  background: #f44336;
  background-image: -webkit-linear-gradient(top, #f44336, #d32f2f);
  background-image: -moz-linear-gradient(top, #f44336, #d32f2f);
  background-image: linear-gradient(to bottom, #f44336, #d32f2f);
  border-radius: 28px;
  text-shadow: 2px 1px 5px #050105;
  font-family: Georgia;
  color: #f0ffe8;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  border: solid #d50000 3px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

#help:hover {
  background: #7986cb;
  background-image: -webkit-linear-gradient(top, #7986cb, #3949ab);
  background-image: -moz-linear-gradient(top, #7986cb, #3949ab);
  background-image: linear-gradient(to bottom, #7986cb, #3949ab);
  text-decoration: none;
  border: solid #1a237e 3px;
}

#resumeButton {
  background: #ffc107;
  background-image: -webkit-linear-gradient(top, #ffc107, #ffa000);
  background-image: -moz-linear-gradient(top, #ffc107, #ffa000);
  background-image: linear-gradient(to bottom, #ffc107, #ffa000);
  border-radius: 28px;
  text-shadow: 2px 1px 5px #050105;
  font-family: Georgia;
  color: #f0ffe8;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  border: solid #ff6f00 3px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}

div.animatedContainer {
	cursor: pointer;
	height: 128px;
	width: 256px;
	border: 1px solid black;
}

#gameMenu {
	border-spacing: 2px;
}

table, td{
	border: 1px solid maroon;
	position: relative;
}

td {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.difficultyButtons div {
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.difficultyButtons img {
	backface-visibility: hidden;
	opacity: 1;
	transition: .3s ease;
	float: left;
	height: 128px;
	width: 128px;
	background-repeat: no-repeat;
	position: relative;
}

div.difficultyText {
	color: black;
	backface-visibility: hidden;
	opacity: 0;
	transition: .3s ease;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:128px;
	margin: auto;
	text-align: center;
	height: 128px;
	width: 128px;
	position: absolute;
}

div.first {
	margin-left: 10px;
}

.diffOverlay:hover div.difficultyText {
	opacity: 1;
}

.sizeButtons img {
	opacity: 1;
	transition: .3s ease;
	float: left;
	height: 128px;
	width: 128px;
	background-repeat: no-repeat;
	position: relative;
}

.sizeButtons div{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sizeButtons #three {
	color: blue;
}

.sizeButtons #four {
	color: orange;
}

.sizeButtons #five {
	color: red;
}

.sizeButtons #six {
	color: black;
}

.speedButtons div {
	float: left;
	margin: 10px;
}

div.overlay {
	height: 128px;
	width: 128px;
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	cursor: pointer;
}

div.diffOverlay {
	height: 128px;
	width: 128px;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
}

div.border {
	border: 2px solid;
	margin-left: 10px;
}

.diffOverlay:hover img.toggleButton{
	opacity: 0.5;
}

.diffOverlay:hover div.insideText{
	opacity: 1;
}

.overlay:hover div.insideText{
	opacity: 1;
}

.overlay:hover img.toggleButton{
	opacity: 0.2;
}

div.insideText {
	opacity: 0;
	transition: .3s ease;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	line-height:128px;
	margin: auto;
	text-align: center;
	height: 128px;
	width: 128px;
	position: absolute;
}